input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.secondLoader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 31px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spon 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spon {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#gggg{
    animation-name: hello;
    animation-duration: 2s;
}

@keyframes hello{
    0%{
        transform: rotate(4deg);
    }
    100%{
        transform: rotate(4deg);
    }
}

.custom_transition{
    transition: all 0.3s;
}
